.profile__edit-button {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  opacity: 1;
  background-color: transparent;
  border: 1.5px solid white;
  margin-top: 15px;
  margin-left: 18px;
}

@media screen and (max-width: 900px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-top: 8px;
    margin-left: 10px;
  }
}

.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}