.popup__container {
  position: relative;
  margin: auto auto;
  width: 430px;
  opacity: 1;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px #00000026;
}

@media screen and (max-width: 767px) {
  .popup__container {
    width: 282px;
  }
}