.profile__header {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

@media screen and (max-width: 900px) {
  .profile__header {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}