.profile__button-image {
  margin: auto auto;
  padding: 0;
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 900px) {
  .profile__button-image {
    width: 16px;
    height: 16px;
  }
}