.header__logo {
  margin: 0;
  padding: 0;
  min-width: 142px;
  max-width: 33px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    min-width: 103px;
    max-width: 24px;
    margin-left: 27px;
  }
}