.header {
  margin: 0 auto;
  padding: 0;
  max-width: 880px;
  min-height: 74px;
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 900px) {
  .header {
    width: 100%;
    min-height: 56px;
    margin-top: 28px;
  }
}