.popup__header {
  margin: 0 auto;
  padding: 0;
  margin-top: 34px;
  margin-left: 36px;
  font-family: Inter, sans-serif;
  font-size: 24px;
  height: 23px;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .popup__header {
    height: 22px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 25px;
    margin-left: 22px;
  }
}