.profile__text {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .profile__text {
    margin: 0;
    margin-left: 47px;
    min-width: 189px;
  }
}