.elements {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  margin-top: 50px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 21px;
  column-gap: 17px;
}


@media screen and (max-width: 900px) {
  .elements {
    margin-top: 36px;
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .elements {
    grid-template-columns: repeat(1, 282px);
    grid-template-rows: repeat(6, 1fr);
  }
}
