.footer__text {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #545454;
}

@media screen and (max-width: 900px) {
  .footer__text {
    font-size: 14px;
    line-height: 17px;
  }
}