.element__close {
  position: absolute;
  background-image: url("../../../images/close_form.svg");
  background-color: transparent;
  align-self: center;
  border: none;
  height: 32px;
  width: 32px;
  top: -40px;
  right: -40px;
  z-index: 2;
}

.element__close:hover {
  cursor: pointer;
  opacity: 60%;
}

@media screen and (max-width: 767px) {
  .element__close {
    height: 20px;
    width: 20px;
    top: -16px;
    right: 10px;
  }
}