.popup__submit {
  border: none;
  outline: none;
  margin: 0 auto;
  padding: 0;
  width: 358px;
  height: 50px;
  margin-top: 48px;
  background-color: black;
  margin-left: 36px;
  margin-bottom: 37px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  border-radius: 2px;
}

.popup__submit:hover {
  cursor: pointer;
  opacity: 80%;
}

@media screen and (max-width: 767px) {
  .popup__submit {
    width: 238px;
    height: 46px;
    margin-left: 22px;
    margin-top: 45px;
    line-height: 17px;
    font-size: 14px;
    margin-bottom: 25px;
  }
}