@font-face {
  src: url("static/Inter-Black.woff") format('woff'),
         url("static/Inter-Black.woff2") format('woff2');
  font-family: 'Inter';
  font-weight: 900;
  font-display: swap;
}

@font-face {
  src: url("static/Inter-Medium.woff") format('woff'),
         url("static/Inter-Medium.woff2") format('woff2');
  font-family: 'Inter';
  font-weight: 500;
  font-display: swap;
}

@font-face {
  src: url("static/Inter-Regular.woff") format('woff'),
         url("static/Inter-Regular.woff2") format('woff2');
  font-family: 'Inter';
  font-weight: 400;
  font-display: swap;
}
