.popup__close {
  background-image: url("../../../images/close_form.svg");
  position: absolute;
  width: 32px;
  height: 32px;
  top: -40px;
  right:-40px;
  z-index: 2;
  background-color: transparent;
  align-self: center;
  border: none;
}

.popup__close:hover {
  cursor: pointer;
  opacity: 60%;
}

@media screen and (max-width: 767px) {
  .popup__close {
    height: 20px;
    width: 20px;
    left: 262px;
  }
}