.profile__description {
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 16px;
  color: #FFFFFF;
}

@media screen and (max-width: 900px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
    text-align: center;
  }
}