.element__icon {
  margin: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  align-self: center;
  background-image: url("../../../images/Group.svg");
  background-color: transparent;
  border: 0;
}

.element__icon:hover {
  cursor: pointer;
  background-image: url("../../../images/Vector.svg");
}

.element__icon_active {
  background-image: url("../../../images/Union.svg");
}