.profile__info {
  margin: auto 0;
  padding: 0;
  min-width: 336px;
  margin-left: 30px;
  display: flex;
}

@media screen and (max-width: 900px) {
  .profile__info {
    margin: 0 0;
    padding: 0;
    margin-top: 26px;
    min-width: 100%;
    margin-left: 0;
  }
}