.footer {
  margin: 0 auto;
  padding: 0;
  margin-top: 66px;
  max-width: 880px;
  margin-bottom: 60px;
}

@media screen and (max-width: 900px) {
  .footer {
    margin-top: 48px;
    max-width: 282px;
    margin-bottom: 36px;
  }
}