.element__trash {
  background-image: url("../../../images/Trash.svg");
  position: absolute;
  height: 19px;
  width: 18px;
  top: 20px;
  left: 244px;
  background-color: transparent;
  align-self: center;
  border: none;
}