.profile__button {
  margin: auto 0;
  padding: 0;
  width: 150px;
  height: 50px;
  border-radius: 2px;
  margin-left: 244px;
  display: flex;
  border: 2px solid white;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .profile__button {
    margin: 0 auto;
    width: inherit;
    margin-top: 36px;
  }
}

.profile__button:hover {
  opacity: 60%;
  cursor: pointer;
}