.popup__text {
  margin: 0 auto;
  padding: 0;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 358px;
  margin-top: 54px;
  height: 27px;
  margin-left: 36px;
  outline: none;
}

.popup__text:nth-child(3) {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .popup__text {
    width: 238px;
    margin-top: 75px;
    margin-left: 22px;
  }
}